<div class="container">
  <header class="jumbotron">
    {{#link-to 'index'}}<h1>Better Than the Best Rentals</h1>{{/link-to}}
  </header>
  {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Our Direct Genetic Clones of AirBnB Workers would love to help!{{/link-to}}
  </footer>
</div>
